<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Адресная книга</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!--script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></!--script-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <script src="addressBook.js"></script>
  </head>
  <body>
    <script type="text/x-template" id="treeNode">
      <li style="list-style-type: none;">
        <div v-bind:id="'department-'+elementDepartment.uid" v-bind:data-department="elementDepartment.uid" class="card text-white bg-secondary mb-3" v-on:click="onDepartmentClick(elementDepartment)">
          <div class="card-body"><h5 class="card-title">{{(elementDepartment.open ? '- ' : '+ ') + elementDepartment.name}}</h5></div>
        </div>
        <ul v-if="elementDepartment.open">
          <div v-bind:data-user="user.uid" class="card mb-3" v-for="user in elementDepartment.users" v-if="user.open">
            <div class="row g-0">
              <div class="col-md-2">
                <img class="img-thumbnail" v-bind:src="'addressBookPhoto.png?uid=' + (user.showPhoto ? user.uid : '00000000-0000-0000-0000-000000000000')" alt="фотограия сотруника">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{user.name}}</h5>
                  <p class="card-text">{{user.position + (user.room ? ' ('+user.room+')' : '')}}</p>
                  <p class="card-text" v-if="user.email"><a class="text-dark" v-bind:href="'mailto:'+user.email">{{user.email}}</a></p>
                  <p class="card-text" v-if="user.tel"><a class="text-dark" v-bind:href="'tel:'+user.tel">{{user.tel}}</a></p>
                </div>
              </div>
            </div>
          </div>
        </ul>
        <ul v-if="elementDepartment.departments.length">
          <tree-node v-if="elementDepartment.open" v-for="department in elementDepartment.departments" v-bind:element-department="department"></tree-node>
        </ul>
      </li>
    </script>
    <script type="text/x-template" id="treeDepartmentNode">
      <li>
        <a class="text-dark" v-bind:href="'#department-'+elementDepartment.uid">{{elementDepartment.name}}</a>
        <ul v-if="elementDepartment.departments.length">
          <tree-department-node v-for="department in elementDepartment.departments" v-bind:element-department="department"></tree-department-node>
        </ul>
      </li>
    </script>

    <div class="container">
      <div class="row" id="addressBook">
        <div class="col col-lg-3">
          <div class="card sticky-top mt-2">
            <div class="card-body">
              <ul>
                <tree-department-node
                  v-for="department in departments"
                  v-bind:element-department="department"
                ></tree-department-node>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="input-group my-3">
            <input
              v-model="searchName"
              v-on:change="filterByName"
              type="text"
              class="form-control"
              placeholder="Введите ФИО"
              aria-label="Введите имя"
              aria-describedby="button-search"
            />
            <button
              class="btn btn-outline-danger"
              type="button"
              id="button-clearSearch"
              v-on:click="searchName=''; filterByName()"
            >
              X
            </button>
          </div>

          <ul>
            <tree-node
              v-for="department in departments"
              v-bind:element-department="department"
            ></tree-node>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
